@media screen and (max-width:1150px) {

    nav ul{
        flex-direction: column;
        height: 35vh;
        align-items: center;
        text-align: center;
    }
    nav ul li{
        padding-top: 2px;
    }
}